@use '../base/mixins' as m;
@use'../base/variables' as v;
.buscar-juego{


    

    &>input{

        @include m.w-telefono{
            margin: 0 1%;
            width: 95%;
            height: 2rem;
        }

        
    }
}

main{
    min-height: 100vh;
    width: 75%;
    margin: 0 auto;

    @include m.w-telefono{
        width: 100%;
    }
    @include m.w-tablet{
        width: 100%;
    }
}

section{
    margin: 1rem 0;
    h2
    {
        margin: 0;
        color: white;
    }
}
.juegos-recomendados,
.buscar-juego,
.comparacion-precios{

    
    border-radius: 0;
    border: 0;
    
    @include m.w-desktop{
    border-radius: 0.5rem;
    border: 1px solid black;
    }
}

/*.juegos-recomendados,
.comparacion-precios{
    
    h2{
        padding-left: 1rem;
        font-size: 2.6rem;
        color: white;
        width: auto;
        background-color: v.$color_principal;
        border-radius: 0.5rem 0.5rem 0 0;
    }
}*/

.juegos-recomendados,
.buscar-juego,
.comparacion-precios{
    

    &-header{
        display: flex;
        align-items: center;
        
        width: 100%;
        background-color:  v.$color_principal;
        
        gap: 1rem;
        border-radius: 0.5rem 0.5rem 0 0;
        width: auto;
        h2{
            padding-left: 1rem;
            font-size: 2.6rem;
        }
    }
}
.buscar-juego{
    &-header{
        height: 4rem;
        h2{
            @include m.w-telefono{
                width: 20%;
            }
        }
        input{
            height: 70%;
            
            @include m.w-telefono{
                width: 75%;
            }
            @include m.w-tablet{
                width: 85%;
            }
            @include m.w-desktop{
                width: 90%;
            }
            &[placeholder]{
                font-size: 1.6rem;
            }
        }
    }
    &-titulo{
        

        @include m.w-telefono{
            text-align: center;
        }
    }
}

