@use '../base/mixins' as m;
@use'../base/variables' as v;
@use '../base/keyframes' as k;


main{
    min-height: 100vh;
    width: 75%;
    margin: 0 auto;

    @include m.w-telefono{
        width: 100%;
    }
    @include m.w-tablet{
        width: 100%;
    }
}

.main{
    display: grid;
    grid-template-areas: 
    "juegos-recomendados"
    "buscar-juego"
    "comparacion-precios"
    "sobre-nosotros"; 
}


.juegos-recomendados
{
    grid-area: juegos-recomendados;
}

.buscar-juego{
    grid-area: buscar-juego;
}
.comparacion-precios{
    grid-area: comparacion-precios;
}
.sobre-nosotros{
    grid-area: sobre-nosotros;
}
section{
    margin: 1rem 0;
    background: v.$color_bsec2;
    font-family: "Montserrat", "sans-serif";

    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.39);

    h2
    {
        font-size: v.$titulo_seccion;
        margin: 0;
        color: white;
    }
}
.juegos-recomendados,
.buscar-juego,
.comparacion-precios{

    
    border-radius: 0;
    border: 0;
    
    @include m.w-desktop{
    border-radius: 0.5rem;
    border: 1px solid black;
    }
}

/*.juegos-recomendados,
.comparacion-precios{
    
    h2{
        padding-left: 1rem;
        font-size: 2.6rem;
        color: white;
        width: auto;
        background-color: v.$color_principal;
        border-radius: 0.5rem 0.5rem 0 0;
    }
}*/

.juegos-recomendados,
.buscar-juego,
.comparacion-precios{
    

    &-header{
        display: flex;
        align-items: center;
        
        width: 100%;
        background-color:  v.$color_bsec1;
        
        gap: 1rem;
        @include m.w-telefono{
            border-radius: 0;
        }
        border-radius: 0.5rem 0.5rem 0 0;
        width: auto;
        h2{
            padding-left: 1rem;
            font-size: 2.6rem;
        }
    }
}
.buscar-juego{
    &-header{
        display: flex;
        flex-direction: row;
        min-height: 4rem;
        @include m.w-telefono{
            flex-direction: column;
        }
        h2{
            @include m.w-telefono{
                
                width: auto;
            }
        }
        input{
            width: 90%;
            margin: 0 auto;
            @include m.w-telefono{
                width: 100%;
                margin: 1rem 0;
            }
            @include m.w-tablet{
                width: 95%;
            }
            @include m.w-desktop{
                width: 90%;
            }
            &[placeholder]{
                font-size: 1.6rem;
            }
        }
    }
    &-titulo{
        
        width: auto;
        @include m.w-telefono{
            text-align: center;
            width: 100%;
        }
    }

    &-input{
        width: 70%;
        @include m.w-telefono{
            
            width: 90%;
        }
    }
}

.sobre-nosotros{
    display: flex;
    font-size: 1.8rem;
    margin: 1rem 0;
    @include m.w-telefono{
        font-size: 2rem;
        flex-direction: column;
    }
    
}

.disclaimer{
    max-width: 30%;
    margin: 1rem;
    &-text{
        display: block;
        margin: 2rem;

        font-size: 1.6rem;
        font-style:oblique;
        @include m.w-telefono{
            
            width: 100%;
        }

        
    }
}
.contacto
{
    
    width: 40%;
    h4{
        font-family: "Montserrat", "sans-serif";
        font-size: 2rem;
    }
    p{
        font-size: 1.6rem;
    }
}
.Titulo-2{
    font-size: 1.8rem;;
}

.grafico-precios{
    min-height: 20rem;
}

.rechart{
    min-height: 15rem;
    min-width: 40%;

    @include m.w-telefono{
       max-width: 90%;
    }
    
}

.comparacion-precios{

    &-detalle{
        display: flex;
        flex-direction: column;
    }
    &-grafico{
        display: flex;
        @include m.w-telefono{
            flex-direction: column;
        }

        .tabla-precios{
            width: 40%;

            @include m.w-telefono{
                width: 100%;
                
                table{
                    margin: 0 auto;
                }
            }
        }
    }
}

.mejor-precio{

    font-size: 2rem;
    text-align: center;
    margin: 1.6rem 0;
}

.comparacion-precios-grafico{

    .tabla-precios{

        width: 50%;
        table{
            padding: 0 2rem;

            th{
                font-size: 1.6rem;
            }
            td{
                font-size: 1.4rem;
            }
        }
    }
}

.juego-seleccionado{
    text-align: center;

    h3{
        font-size: 2rem;

        margin: 1rem auto;

        color: v.$color_fuente;
        font-family: "Montserrat", "sans-serif";
        text-shadow: v.$txt_shadow1
    }

    .warning-icon{
        margin-top: 1rem;
        width: 3rem;
        height: 3rem;
    }
    img{
        width: 50%;
        height: 50%;

        
    }
}

.sobre-nosotros{
    background-color: v.$color_bsec;
    color: v.$color_fuente;
    h4{
        margin-top: 2rem;
    }
}

.test-txt{
    font-family: "Montserrat", "sans-serif";
    background-color: #F5B661;
    color: white;
    font-size: 1.6rem;
}

.rrss{
    width: 30%;
    ul{
        display: flex;
    }
    img{
        width: 4rem;
        height: 4rem;

        &:hover{
            cursor: pointer;
            animation: zoom-1 2s ease-out 0s 1 normal none;
        }
        
    }
        
}

